.container {
  margin : auto;
  max-width: 500px;
  background-color: seashell;
}

.heading {
  color: rebeccapurple;
  text-align: center;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;

}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
  text-align: center;
}

.tags ul {
  list-style: none;
}

.tags ul li {
  display: inline-block;
  margin-right: 1rem;
  text-align: center;
}

.tags ul li a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
  border-width: 4px;
  border-radius: 0.25rem;
  background-color: #e9ddc5;
}

.tags ul li a:hover {
  background-color: #d6c5a3;
}